*
!.gitignore

# Permitir diretórios de anúncios e seus conteúdos
!anuncios/
!anuncios/**
!anuncios/.gitkeep

# Permitir diretórios de comprovativos e seus conteúdos
!comprovativo/
!comprovativo/**
!comprovativo/.gitkeep
!comprovativos/
!comprovativos/**
!comprovativos/.gitkeep
