# Ignorar tudo por padrão
*

# Não ignorar o próprio .gitignore
!.gitignore

# Permitir diretórios e arquivos de anúncios
!anuncios/
!anuncios/**/*
!anuncios/.gitkeep

# Permitir diretórios e arquivos de comprovativos
!comprovativo/
!comprovativo/**/*
!comprovativo/.gitkeep
!comprovativos/
!comprovativos/**/*
!comprovativos/.gitkeep

# Não ignorar subdiretórios e seus conteúdos
!*/
!*/**/*
